<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>

    <div class="container bg-blur rounded mt-3 mb-4">
        <h1>All words</h1>
        <div class="row mt-3 mb-3">

            <div  class="col-5 bg-dark rounded m-auto" style="height: 30vh; overflow: auto">
                <h3 class="mySticky bg-gray text-dark rounded">German: {germanWordsCount}</h3>
                    <div th:each="german: ${words.germanWords}" class="mt-3 rounded badge-warning">
                        <img class="mr-2" src="/img/german.png" alt="Flag" width="20px" height="20px">
                        <span th:text="${german.term} + ': ' + ${german.translation}"></span>
                        <br>
                        <span th:text="'Example: ' + ${german.example}"></span>
                        <br>
                        <span th:text="'Added by: ' + ${german.addedBy} + ' on ' + ${german.inputDate}" ></span>
                        <form th:method="POST"
                              th:href="@{/word/remove/{id}(id=${german.id})}">
                            <button style="background-color: transparent;border:none;font-weight:600" class="ml-3 text-danger" >Remove</button>
                        </form>
                    </div>
            </div>

            <div class="col-5 bg-dark rounded m-auto" style="height: 30vh; overflow: auto">
                <h3 class="mySticky bg-gray text-dark rounded">Spanish: {spanishWordsCount}</h3>
                    <div th:each="spanish: ${words.spanishWords}" class="mt-3 rounded badge-secondary">
                        <img class="mr-2" src="/img/spanish.png" alt="Flag" width="20px" height="20px">
                        <span th:text="${spanish.term} + ': ' + ${spanish.translation}"></span>
                        <br>
                        <span th:text="'Example: ' + ${spanish.example}" ></span>
                        <br>
                        <span th:text="'Added by: ' + ${spanish.addedBy} + ' on ' + ${spanish.inputDate}"></span>
                        <form th:method="POST"
                              th:href="@{/word/remove/{id}(id=${spanish.id})}">
                            <button style="background-color: transparent;border:none;font-weight:600" class="ml-3 text-danger" >Remove</button>
                        </form>
                    </div>
            </div>
        </div>

        <div class="row mt-3 mb-3">
            <div class="col-5 bg-dark rounded m-auto" style="height: 30vh; overflow: auto">
                <h3 class="mySticky bg-gray text-dark rounded">French: {frenchWordsCount}</h3>
                    <div th:each="french: ${words.frenchWords}" class="mt-3 rounded badge-info">
                        <img class="mr-2" src="/img/french.png" alt="Flag" width="20px" height="20px">
                        <span th:text="${french.term} + ': ' + ${french.translation}"></span>
                        <br>
                        <span th:text="'Example: ' + ${french.example}"></span>
                        <br>
                        <span th:text="'Added by: ' + ${french.addedBy} + ' on ' + ${french.inputDate}"></span>
                        <form th:method="POST"
                              th:href="@{/word/remove/{id}(id=${french.id})}">
                            <button style="background-color: transparent;border:none;font-weight:600" class="ml-3 text-danger" >Remove</button>
                        </form>
                    </div>
            </div>

            <div class="col-5 bg-dark rounded m-auto" style="height: 30vh; overflow: auto">
                <h3 class="mySticky bg-gray text-dark rounded">Italian: {italianWordsCount}</h3>
                    <div th:each="italian: ${words.italianWords}" class="mt-3 rounded badge-success">
                        <img class="mr-2" src="/img/italian.png" alt="Flag" width="20px" height="20px">
                        <span th:text="${italian.term} + ': ' + ${italian.translation}">{italianTerm}: {translation}</span>
                        <br>
                        <span th:text="'Example: ' + ${italian.example}"></span>
                        <br>
                        <span th:text="'Added by: ' + ${italian.addedBy} + ' on ' + ${italian.inputDate}">Added by: {username} on {inputDate}</span>
                        <a class="ml-3 text-danger" href="/">Remove</a>
<!--                        <form th:method="POST"-->
<!--                              th:href="@{/word/remove/{id}(id=${italian.id})}">-->
<!--                            <button style="background-color: transparent;border:none;font-weight:600" class="ml-3 text-danger" >Remove</button>-->
<!--                        </form>-->
                    </div>
            </div>
        </div>
        <a href="/home/remove-all" class="btn btn-danger">Remove all {allWordsCount} words</a>
    </div>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
