<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>GIRA</title>
  <link rel="icon" href="/img/projectLogo.png" type="image/icon type">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/reset-css.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="page-container">
    <div th:replace="~{fragments/navigation::header}"/>
    <!--    Login/ Register-->

    <main class="content-wrap">
      <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Register</span></h1>
      <hr class="hr-3 w-25 bg-white" />
      <form class="mx-auto w-25 bg-blur"
            th:method="POST"
            th:action="@{/users/register}"
            th:object="${userRegisterBindingModel}">


        <div class="form-group">
          <div class="label-holder textCol d-flex justify-content-center">
            <label for="username" class="h4 mb-2">Username</label>
          </div>

          <div th:if="${hasRegistrationError}" class="text-danger">Registration error occurred!</div>

          <input th:field="*{username}"
                 th:errorclass="bg-danger"
                 type="text" class="form-control" id="username"/>
          <small th:if="${#fields.hasErrors('username')}"
                 th:errors="*{username}"
                  class="text-danger">Username error message</small>
        </div>
        <div class="form-group">
          <div class="label-holder textCol d-flex justify-content-center">
            <label for="email" class="h4 mb-2">Email</label>
          </div>
          <input type="email" class="form-control" id="email"
                 th:field="*{email}"
                 th:errorclass="bg-danger"/>

          <small th:if="${#fields.hasErrors('email')}"
                 th:errors="*{email}"
                 class="text-danger">Email error message</small>
        </div>
        <div class="form-group">
          <div class="label-holder  textCol d-flex justify-content-center">
            <label for="password" class="h4 mb-2">Password</label>
          </div>
          <input type="password" class="form-control" id="password"
                 th:field="*{password}"
                 th:errorclass="bg-danger"/>
          <small th:if="${#fields.hasErrors('password')}"
                 th:errors="*{password}"
                 class="text-danger">Password error message</small>
        </div>
        <div class="form-group">
          <div class="label-holder  textCol d-flex justify-content-center">
            <label for="confirmPassword" class="h4 mb-2">Confirm Password</label>
          </div>
          <input type="password" class="form-control" id="confirmPassword"
                 th:field="*{confirmPassword}"
                 th:classappend="${#fields.hasErrors('password')} ? 'bg-danger'"/>
        </div>

        <div class="button-holder d-flex justify-content-center">
          <button type="submit" class="button btn-warning  mb-3" value="Register">Register</button>
        </div>
      </form>
    </main>
    <div th:replace="~{fragments/navigation::footer}"/>
  </div>


</body>

</html>